*{
    margin: 0;
    padding: 0;
}

.head{
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: fixed;
    top: 25px;
    font-family:Helvetica;
    color: black;
    /* mix-blend-mode: difference; */
    cursor: pointer;
    z-index: 2;
}
.left a{
    text-decoration: none;
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.left{
    font-size: 22px;
    margin-left: 40px;
    font-weight: lighter;
}
.middle{
    display: flex;
    gap: 30px;
    margin-left: 150px;
    font-weight: 200;
}
.right{
    display: flex;
    gap: 20px;
    margin-left: 650px;
    font-weight: 200;
}
.right a{
    text-decoration: none;
    color: black;
}
#left2{
    position: absolute;
    height: 350px;
    width: 100vh;
    margin-top: 160px;
    left: 35px;
    z-index: 1;
}
h1{
    font-size: 20px;
}
#left2 h1{
    font-weight: lighter;
    font-size: 16px;
}
#no{
    margin-top: 40px;
    text-decoration: underline;
    font-size: 11px;
    font-weight: 50;
    letter-spacing: 1px;
}
form{
    position: absolute;
    height: 350px;
    width: 100vh;
    margin-top: 150px;
    margin-left: 480px;
    font-size: 18px;
    z-index: 1;
}
#tone{
    font-size: 13px;

}
#iind{
    width: 130%;
    height: 1.3vw;
    /* font-size: 20px; */
    padding: 10px 0 16px 10px;
    margin-top: 1vh;

}
#iiird{
    margin-top: 50px;
}
#iiiith{
    width: 130%;
    /* font-size: 20px; */
    padding: 10px 0 16px 10px;
    height: 1.3vw;
    margin-top: 1vh;
    margin-bottom: 1vh;

}
#iiiiith{
    font-size: 13px;
    text-decoration: underline;
}
#iiiiith:hover{
    text-decoration: underline;
    
}
button{
    /* padding: 0px 0px 0px 200px; */
    /* padding: 10px 0 16px 40px; */
    /* font-size: 2vw; */
    margin-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 15vh;
    padding-right: 15vh;
    /* align-items: center; */
    background-color: black; 
    color: white;
    /* width: 60px; */ 
    /* padding-top: 1vw;
    padding-left: 1vw; */
    /* padding: 0.7vw 9vw; */
}
/* button h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2vw;
} */
#f1{
    position: absolute;
    margin-top: 450px;
}
#f1{
    width: 60%;
    height: inherit;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
#f2{
    position: absolute;
    /* margin-top: 450px; */
}




#box1{
    width: 40%;
    height: 50%;
    /* background-color: rgb(39, 159, 159); */
    margin-top: 16vh;
}

#box2{
    width: 30%;
    height: 50%;
    /* background-color: rgb(6, 249, 249); */
    margin-top: 16vh;
}
#box3{
    margin-top: 16vh;
    width: 30%;
    height: 50%;
    /* background-color: rgb(129, 222, 222); */
}

#f2{
    position: absolute;
    width: 30%;
    height: 230px;
    /* background-color: red; */
    margin-top: 550px;
    margin-left: 950px;
}
#f2 h3{
    margin-left: 30px;
    font-weight: lighter;
    opacity: 0.7;
    text-decoration: underline;
}


#box1 h4{
    font-weight: 500;
    margin: 2vh;
    cursor: pointer;
}
/* #box1 h4:hover{
    text-decoration: underline;
} */


#box1 h5{
    font-weight: 300;
    margin: 2vh;
    cursor: pointer;
}
#box1 h5:hover{
  text-decoration: underline;
}


#box2 h4{
    font-weight: 500;
    margin: 2vh;
    cursor: pointer;
}
/* #box2 h4:hover{
    text-decoration: underline;
} */

#box2 h5{
    font-weight: 300;
    margin: 2vh;
    cursor: pointer;
}
#box2 h5:hover{
    text-decoration: underline;
}

#box3 h4{
    font-weight: 500;
    margin: 2vh;
    cursor: pointer;
}
/* #box3 h4:hover{
   text-decoration: underline;
} */

#box3 h5{
    font-weight: 300;
    margin: 2vh;
    cursor: pointer;
}
#box3 h5:hover{
    text-decoration: underline;
}

#f2 h4{
    font-weight: 500;
    margin: 4vh;
}

#f2 h5{
    font-weight: 300;
    margin: 4vh;
    line-height: 3vh;
}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
