*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Reem Kufi;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
#nav{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    gap: 25px;
    padding: 0 20px;
    font-family: Reem Kufi;
}
#nav h4{
    font-size: 20px;
    font-weight: 650;
}
#nav i{
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 50px;
    font-weight: 500;
}
#center{
    width: 100%;
    background-color: white;
    padding-left: 80px;
    padding-right: 35px;
}
#center h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;

}
#center-in{
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#center-in p{
    font-size: 20px;
    font-weight: 400;
    padding-left: 90px;
    padding-right: 35px;
    padding-top: 20px;
    line-height: 30px;

}
#right{
    width: 15%;
    line-height: 35px;
}
.element{
    background-color: white;
    font-weight: 600;}
.elem a{
    color: black;
    text-decoration: none;
}
.elem{
    border-top: 2px solid;
    display: flex;
    justify-content: space-between;
}
.elem i{
    opacity: 0%;
}
.elem:hover i{
    opacity: 100%;
}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    height: 46%;
    width: 100%;
    background-color: grey;
    background-image: url(https://plus.unsplash.com/premium_photo-1698749345082-ca4487c85602?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 30%;
}

